name: Deploy Configs

on:
  push:
    branches:
      - master

jobs:
  deploy-configs:
    runs-on: self-hosted

    env:
      NIXPKGS_ALLOW_UNFREE: 1

    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p ~/.ssh
          echo "Host *" > ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config
          echo "  UserKnownHostsFile=/dev/null" >> ~/.ssh/config
          echo "  IdentityFile $DEPLOY_KEY_PATH" >> ~/.ssh/config
          chmod 600 ~/.ssh/config

      - run: deploy .
